/*google fonts*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --main-color: #c909f9;
    --second-color: #4909aa;
}
section{
    padding: 50px 10%;
}
*::selection{
    color: #fff;
    background: var(--main-color);
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 120px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover {
    color: var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
/*home*/
.home{
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #FFF0F5;
    gap: 1rem;
}
.home-text{
    flex: 1 1 17rem;
}
.home-image{
    flex: 1 1 17rem;
}
.home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0% {
        transform: translate(-11px,0);
    }
    50% {
        transform: translate(-0px,-11);
    }
    100% {
        transform: translate(-11px,0);
    }
}
.home-text span{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}
.home-text h1{
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}
.home-text h2{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}
.btn{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn:hover{
    color: #fff;
    background: var(--second-color);
}
.heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.headingspan{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.heading h1{
    font-size: 2rem;
    color: var(--main-color);
}
/*produk kami*/
.row {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-container {
    padding-left: 25px;
    padding-right: 25px;
}

.small-container .title {
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
    line-height: 60px;
    color: var(--dark);
}

.small-container .title::after {
    content: "";
    background: var(--blue);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p a {
    text-decoration: none;
    color: var(--dark);
}

.col-4 {
    border: 1px solid var(--white2);
    background: var(--white);
    flex-basis: 21%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}


.col-4 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.col-4 p {
    margin: 0 15px;
    font-size: 14px;
}

.col-4:hover {
    transform: scale(1.1);
}


.price-container {
    text-align: center;
}

.p-1 {
    color: var(--dark);
}

.p-2 {
    color: var(--red);
}

.rating {
    margin-top: -15px;
    text-align: center;
}

.rating .fas {
    color: var(--orange);
}

.rating .far {
    color: var(--orange);
}

.title-prod {
    font-size: 0.9rem;
    text-align: center;
    color: var(--dark);
    font-weight: 500;
    text-decoration: none;
}
/*delivery*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    margin: 50px;
    align-items: center;
}
.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}

.btn:hover {
    color: #ffff;
    background: var(--main-color);
}
.delivery-img, .app-img {
    flex: 1 1 21rem;
}
.delivery-text, .app-text {
    flex: 1 1 21rem;
}
.delivery-text h2, .app-text h2 {
    font-size: 1.2rem;
    color: var(--second-color);
}

/*tentang*/
.about{
    display: flex;
    flex-wrap: wrap;
    background: #FFF0F5;
    gap: 1.5rem;
}
.about-img{
    flex: 1 1 17rem;
}
.about-text{
    flex: 1 1 17rem;
}
.about-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.about-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
iframe {
    display:block;
    margin: 1em auto; 
    width: 80%; 
    height: calc(.5625 * 80vw);
    margin-bottom: 60px;
}
/*footer*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

.footer {
    position: fixed;
    bottom: 0;
}
.footer-distributed {
    background-color: #9000D6;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
   }
@media (max-height:"800px")
{
    footer{
        position: static;
    }
    header{
        padding-top: 40px;
    }
}
/*footer left*/
.footer-distributed .footer-left img {
    width: 25%;
    vertical-align: middle;
}

.footer-distributed .footer-left .credit-cards {
    width: 100%;
    padding-top: 20px;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
   .footer-distributed .footer-left {
    width: 30%;
    }

   .footer-distributed .footer-company-name{
    color: #2d2a30;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
   .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
    }
    .footer-distributed h3 span {
        color: #e0ac1c;
    }
    /*footer link*/
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
    }
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    .footer-distributed .footer-company-name {
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    /*footer center*/
    .footer-distributed .footer-center {
        width: 35%;
    }
    
    .footer-distributed .footer-center i {
        background-color: #BC35FF;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin: 0;
    }
    
    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footer-distributed .footer-center p a {
        color: #e0ac1c;
        text-decoration: none;
        ;
    }
    
   
   /*footer right*/
   .footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #BC35FF;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}  

@media (max-width: 1150px){
    header{
        padding: 18px 7%;
    }
    section{
        padding: 50px 7%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
}

@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}

@media (max-width: 768px){
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }
    .home-text span{
        font-size: 0.9rem;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .home-text h2{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .home-text{
        padding-top: inherit;
    }
    .shop-container .box{
        margin-top: 6rem;
    }
    .heading h1{
        font-size: 1.5rem;
    }
    .heading span{
        font-size: 0.9rem;
    }
    .about{
        flex-direction: column-reverse;
    }
}

@media (max-width: 351px){
    .links{
        display: flex;
        flex-direction: column;
    }
}

.home-text span{
    font-size: 0.9rem;
}
.home-text h1{
    font-size: 2.4rem;
}
.home-text h2{
    font-size: 1.2rem;
}